.container {
  position: relative;
  margin: 0px 50px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    margin: 0px 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    margin: 0px 20px;
  }
}

section {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0px;
}

@media (max-width: 767.98px) {
  section .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
  }
}

section .block__map {
  width: 100%;
  margin-right: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 1199.98px) {
  section .block__map {
    height: 340px;
  }
}

@media (max-width: 991.98px) {
  section .block__map {
    height: 250px;
  }
}

@media (max-width: 767.98px) {
  section .block__map {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: none;
  }
}

@media (max-width: 479.98px) {
  section .block__map {
    height: 200px;
  }
}

section .block__map iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

section .block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1199.98px) {
  section .block__info {
    width: 540px;
  }
}

@media (max-width: 991.98px) {
  section .block__info {
    width: 460px;
  }
}

@media (max-width: 767.98px) {
  section .block__info {
    width: 100%;
    padding-left: 50px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

section .block__info h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 70px;
}

@media (max-width: 1199.98px) {
  section .block__info h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  section .block__info h1 {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  section .block__info h1 {
    font-size: 25px;
  }
}

@media (max-width: 479.98px) {
  section .block__info h1 {
    font-size: 20px;
  }
}

section .block__info .data__info {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199.98px) {
  section .block__info .data__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .block__info .data__info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px 0px 0px;
}

@media (max-width: 1199.98px) {
  section .block__info .data__info .info {
    height: 265px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  section .block__info .data__info .info {
    height: 180px;
  }
}

section .block__info .data__info .info__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .block__info .data__info .info__row img {
  position: absolute;
  left: -40px;
}

section .block__info .data__info .info__row .top {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

@media (max-width: 1199.98px) {
  section .block__info .data__info .info__row .top {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  section .block__info .data__info .info__row .top {
    font-size: 14px;
  }
}

section .block__info .data__info .info__row .bottom {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 1199.98px) {
  section .block__info .data__info .info__row .bottom {
    font-size: 22px;
  }
}

@media (max-width: 991.98px) {
  section .block__info .data__info .info__row .bottom {
    font-size: 18px;
  }
}

section .block__info .data__info .info__row .bottom.email {
  border: 2px solid #FFD600;
  padding: 8px 12px;
  border-radius: 15px;
}

section .block__info .data__info .buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199.98px) {
  section .block__info .data__info .buttons {
    border-left: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 50px;
  }
}

@media (max-width: 1199.98px) {
  section .block__info .data__info .buttons .line {
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
  }
}

section .block__info .data__info .buttons a {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50%;
  background-color: #FFD600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

section .block__info .data__info .buttons a:hover {
  background-color: gray;
}

@media (max-width: 991.98px) {
  section .block__info .data__info .buttons a {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 479.98px) {
  section .block__info .data__info .buttons a {
    margin: 20px 10px;
  }
}

section .block__info .data__info .buttons .icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 991.98px) {
  section .block__info .data__info .buttons .icon {
    width: 20px;
    height: 20px;
  }
}

section .block__info .data__info .buttons .icon.telegram {
  padding-right: 2px;
}

section .block__map_laptop {
  display: none;
}

@media (max-width: 767.98px) {
  section .block__map_laptop {
    display: block;
    width: 100%;
    height: 300px;
  }
  section .block__map_laptop iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767.98px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  section .container {
    width: auto;
  }
}
/*# sourceMappingURL=contacts.css.map */