@import "_nullable";
@import "_globals";

footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    flex-direction: column;
    background: black;

    .top {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 25px 0px;

        .block {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr;

            @media (max-width: $md1 + px) {
                grid-template-columns: 1fr 5fr;
            }
            @media (max-width: $md3 + px) {
                grid-template-columns: none;
                grid-template-rows: repeat(5, 1fr);
                margin-bottom: 30px;
            }

            .logo {
                grid-column: 1/2;

                @media (max-width: $md3 + px) {
                    grid-row: 1/2;
                    margin-bottom: 30px;
                }

                img {
                    width: 100px;

                    @media (max-width: $md1 + px) {
                        width: 90px;
                    }
                    @media (max-width: $md2 + px) {
                        width: 80px;
                    }
                    @media (max-width: $md3 + px) {
                        width: 70px;
                    }
                }
            }
            .menu {
                font-family: "Inter", sans-serif;
                grid-column: 2/6;
                display: flex;
                justify-content: space-between;

                @media (max-width: $md1 + px) {
                    grid-column: 2/7;
                }
                @media (max-width: $md3 + px) {
                    grid-column: 1/2;
                    grid-row: 2/6;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 30px 20px;
                }

                div:nth-child(1) {
                    @media (max-width: $md3 + px) {
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }
                }
                div:nth-child(2) {
                    @media (max-width: $md3 + px) {
                        grid-column: 2/2;
                        grid-row: 1/2;
                    }
                }
                div:nth-child(3) {
                    @media (max-width: $md3 + px) {
                        grid-column: 1/2;
                        grid-row: 2/2;
                    }
                }
                div:nth-child(4) {
                    @media (max-width: $md3 + px) {
                        grid-column: 2/2;
                        grid-row: 2/2;
                    }
                }

                div {
                    &:hover {
                        h2 {
                            color: #ffee49;
                        }
                    }

                    h2 {
                        font-weight: 700;
                        font-size: 15px;
                        margin-bottom: 15px;
                        transition: all 0.2s ease-in-out;

                        @media (max-width: $md1 + px) {
                            font-size: 14px;
                        }
                        @media (max-width: $md2 + px) {
                            font-size: 13px;
                        }
                        @media (max-width: $md3 + px) {
                            font-size: 12px;
                        }
                        @media (max-width: $md4 + px) {
                            font-size: 11px;
                        }
                    }

                    ul {
                        li {
                            line-height: 200%;

                            @media (max-width: $md2 + px) {
                                line-height: 160%;
                            }

                            a {
                                color: white;
                                font-weight: 400;
                                font-size: 12px;
                                transition: all 0.2s ease-in-out;

                                &:hover {
                                    text-decoration: underline;
                                }

                                @media (max-width: $md1 + px) {
                                    font-size: 10px;
                                }
                                @media (max-width: $md2 + px) {
                                    font-size: 9px;
                                }
                                @media (max-width: $md3 + px) {
                                    font-size: 8px;
                                }
                                @media (max-width: $md4 + px) {
                                    font-size: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .follow__mobile {
            display: none;

            @media (max-width: $md3 + px) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: fit-content;
                margin-left: auto;
                margin-right: 50px;
                font-family: "Montserrat", sans-serif;
            }

            h4 {
                font-weight: 400;
                font-size: 15px;

                @media (max-width: $md1 + px) {
                    font-size: 14px;
                }
                @media (max-width: $md2 + px) {
                    font-size: 13px;
                }
                @media (max-width: $md3 + px) {
                    font-size: 12px;
                }
                @media (max-width: $md4 + px) {
                    font-size: 11px;
                }
            }

            a {
                margin-left: 10px;

                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #ffee49;
    }

    .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;

        .block {
            width: 100%;
            padding: 25px 0px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: $md3 + px) {
                grid-template-columns: 1fr;
            }

            .info {

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 200%;

                    @media (max-width: $md1 + px) {
                        font-size: 11px;
                        line-height: 190%;
                    }
                    @media (max-width: $md2 + px) {
                        font-size: 10px;
                        line-height: 180%;
                    }
                    @media (max-width: $md3 + px) {
                        font-size: 9px;
                        line-height: 170%;
                    }
                    @media (max-width: $md4 + px) {
                        font-size: 8px;
                        line-height: 160%;
                    }
                }
            }

            .follow {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                @media (max-width: $md3 + px) {
                    display: none;
                }

                h4 {
                    font-weight: 400;
                    font-size: 15px;

                    @media (max-width: $md1 + px) {
                        font-size: 14px;
                    }
                    @media (max-width: $md2 + px) {
                        font-size: 13px;
                    }
                    @media (max-width: $md3 + px) {
                        font-size: 12px;
                    }
                    @media (max-width: $md4 + px) {
                        font-size: 11px;
                    }
                }

                a {
                    margin-left: 10px;
                }
            }
        }
    }
}
