.container {
  position: relative;
  margin: 0px 50px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    margin: 0px 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    margin: 0px 20px;
  }
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 0px 50px;
}

@media (max-width: 767.98px) {
  section {
    padding: 0px 20px;
  }
}

section .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .block__title {
  padding: 100px 0px 50px 0px;
}

section .block__title h1 {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  section .block__title h1 {
    font-weight: 600;
  }
}

@media (max-width: 991.98px) {
  section .block__title h1 {
    font-size: 25px;
  }
}

@media (max-width: 767.98px) {
  section .block__title h1 {
    font-size: 22px;
  }
}

@media (max-width: 479.98px) {
  section .block__title h1 {
    font-size: 20px;
  }
}

section .block__page-nav {
  padding-bottom: 50px;
}

section .block__page-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section .block__page-nav ul li {
  margin-right: 10px;
}

section .block__page-nav ul li a {
  font-weight: 400;
  font-size: 16px;
}

section .block__page-nav ul li a:hover {
  color: #d4d4d4;
}

@media (max-width: 991.98px) {
  section .block__page-nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  section .block__page-nav ul li a {
    font-size: 13px;
  }
}

@media (max-width: 479.98px) {
  section .block__page-nav ul li a {
    font-size: 12px;
  }
}

section .block__page-nav ul li .icon {
  width: 22px;
  height: 10px;
}

section .block__page-nav ul li:last-child {
  margin-right: 0;
}

section .block__page-nav ul .to-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section .block__info p {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 1199.98px) {
  section .block__info p {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  section .block__info p {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  section .block__info p {
    font-size: 12px;
  }
}

@media (max-width: 479.98px) {
  section .block__info p {
    font-size: 10px;
  }
}

section .block .menu {
  width: 100%;
  padding: 100px 0px 80px 0px;
}

section .block .menu .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991.98px) {
  section .block .menu .nav {
    gap: 10px;
  }
}

@media (max-width: 767.98px) {
  section .block .menu .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  section .block .menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  section .block .menu .nav__column {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  section .block .menu .nav__column {
    margin-bottom: 10px;
  }
}

section .block .menu .nav__column:hover .nav__column_title a {
  color: #FFD600;
}

section .block .menu .nav__column_title {
  margin-bottom: 20px;
}

section .block .menu .nav__column_title a {
  font-weight: 400;
  font-size: 18px;
  color: #3A3C41;
}

@media (max-width: 479.98px) {
  section .block .menu .nav__column_list {
    display: none;
  }
}

section .block .menu .nav__column_list li a {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  color: #3A3C41;
}

section .block .menu .nav__column_list li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=service-page.css.map */