.container {
  position: relative;
  margin: 0px 50px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    margin: 0px 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    margin: 0px 20px;
  }
}

section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

section .block {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

@media (max-width: 1199.98px) {
  section .block {
    padding-top: 80px;
  }
}

@media (max-width: 991.98px) {
  section .block {
    padding-top: 70px;
  }
}

@media (max-width: 767.98px) {
  section .block {
    padding-top: 55px;
  }
}

@media (max-width: 479.98px) {
  section .block {
    padding-top: 40px;
  }
}

section .block__title {
  margin-bottom: 20px;
}

section .block__title h1 {
  font-weight: 600;
  font-size: 48px;
}

@media (max-width: 1199.98px) {
  section .block__title h1 {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  section .block__title h1 {
    font-size: 25px;
  }
}

@media (max-width: 767.98px) {
  section .block__title h1 {
    font-size: 22px;
  }
}

@media (max-width: 479.98px) {
  section .block__title h1 {
    font-size: 20px;
  }
}

section .block__map {
  margin-bottom: 20px;
}

section .block__map img {
  width: 100%;
  height: auto;
}

section .block__orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .block__orders h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 40px;
}

@media (max-width: 1199.98px) {
  section .block__orders h2 {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  section .block__orders h2 {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  section .block__orders h2 {
    font-size: 17px;
  }
}

@media (max-width: 479.98px) {
  section .block__orders h2 {
    font-size: 14px;
  }
}

section .block__orders_grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  section .block__orders_grid {
    grid-gap: 25px;
  }
}

@media (max-width: 767.98px) {
  section .block__orders_grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

section .block__orders_grid a {
  width: 100%;
  height: 100px;
  font-weight: 600;
  font-size: 18px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 60px;
  color: black;
}

@media (max-width: 1199.98px) {
  section .block__orders_grid a {
    font-size: 14px;
    height: 90px;
    padding: 0px 40px;
  }
}

@media (max-width: 991.98px) {
  section .block__orders_grid a {
    font-size: 10px;
    height: 70px;
    padding: 0px 30px;
  }
}

@media (max-width: 767.98px) {
  section .block__orders_grid a {
    height: 60px;
    padding: 0px 20px;
  }
}

@media (max-width: 479.98px) {
  section .block__orders_grid a {
    height: 50px;
  }
}

section .block__orders_grid a:hover {
  background: #ffd600;
  font-size: 24px;
}

@media (max-width: 1199.98px) {
  section .block__orders_grid a:hover {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  section .block__orders_grid a:hover {
    font-size: 14px;
  }
}

section .block__orders .more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: none;
}

section .block__orders .more:hover {
  color: #ffc729;
  margin-left: 10px;
}

section .block__orders .more:hover svg {
  margin-left: 10px;
}

@media (max-width: 1199.98px) {
  section .block__orders .more {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  section .block__orders .more {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  section .block__orders .more {
    font-size: 13px;
    padding-left: 20px;
  }
}

@media (max-width: 479.98px) {
  section .block__orders .more {
    font-size: 12px;
  }
}

section .block__orders .more .icon {
  fill: none;
  width: 51px;
  height: 54px;
}

@media (max-width: 1199.98px) {
  section .block__orders .more .icon {
    width: 48px;
    height: 51px;
  }
}

@media (max-width: 991.98px) {
  section .block__orders .more .icon {
    width: 45px;
    height: 48px;
  }
}

@media (max-width: 767.98px) {
  section .block__orders .more .icon {
    width: 42px;
    height: 45px;
  }
}

section .block__orders .more svg {
  margin-left: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

section .menu {
  width: 100%;
  padding: 100px 0px 80px 0px;
}

section .menu .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991.98px) {
  section .menu .nav {
    gap: 10px;
  }
}

@media (max-width: 767.98px) {
  section .menu .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  section .menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  section .menu .nav__column {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  section .menu .nav__column {
    margin-bottom: 10px;
  }
}

section .menu .nav__column:hover .nav__column_title a {
  color: #ffd600;
}

section .menu .nav__column_title {
  margin-bottom: 20px;
}

section .menu .nav__column_title a {
  font-weight: 400;
  font-size: 18px;
  color: #3a3c41;
}

@media (max-width: 479.98px) {
  section .menu .nav__column_list {
    display: none;
  }
}

section .menu .nav__column_list li a {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  color: #3a3c41;
}

section .menu .nav__column_list li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=projects.css.map */