.container {
  position: relative;
  margin: 0px 50px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    margin: 0px 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    margin: 0px 20px;
  }
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  padding: 0px 50px;
}

@media (max-width: 767.98px) {
  section {
    padding: 0px 20px;
  }
}

section .title {
  width: 100%;
  padding: 100px 0px 60px 0px;
}

@media (max-width: 1199.98px) {
  section .title {
    padding: 80px 0px 50px 0px;
  }
}

@media (max-width: 991.98px) {
  section .title {
    padding: 70px 0px 40px 0px;
  }
}

@media (max-width: 991.98px) {
  section .title {
    padding: 50px 0px 30px 0px;
  }
}

section .title h1 {
  font-weight: 700;
  font-size: 35px;
}

@media (max-width: 1199.98px) {
  section .title h1 {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  section .title h1 {
    font-size: 25px;
  }
}

section .pallet {
  width: 100%;
}

section .pallet__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

@media (max-width: 991.98px) {
  section .pallet__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  section .pallet__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section .pallet__grid_section {
  position: relative;
  background: #ffffff;
  padding: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section {
    padding: 25px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section {
    padding: 20px;
  }
}

section .pallet__grid_section:hover {
  background: #ffd600;
}

section .pallet__grid_section:hover .block {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  background: #ffd600;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section:hover .block {
    padding: 25px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section:hover .block {
    padding: 20px;
  }
}

section .pallet__grid_section:hover .block__title a {
  display: block;
}

section .pallet__grid_section:hover .block__title_line {
  display: block;
}

section .pallet__grid_section:hover .block__info {
  display: block;
}

section .pallet__grid_section .block__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section .block__title {
    margin-bottom: 110px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section .block__title {
    margin-bottom: 90px;
  }
}

@media (max-width: 767.98px) {
  section .pallet__grid_section .block__title {
    margin-bottom: 70px;
  }
}

@media (max-width: 479.98px) {
  section .pallet__grid_section .block__title {
    margin-bottom: 50px;
  }
}

section .pallet__grid_section .block__title h1 {
  font-weight: 700;
  font-size: 22px;
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section .block__title h1 {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section .block__title h1 {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  section .pallet__grid_section .block__title h1 {
    font-size: 12px;
  }
}

section .pallet__grid_section .block__title a {
  display: none;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section .pallet__grid_section .block__title a .icon {
  fill: none;
  width: 51px;
  height: 54px;
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section .block__title a .icon {
    width: 46px;
    height: 49px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section .block__title a .icon {
    width: 29px;
    height: 32px;
  }
}

@media (max-width: 767.98px) {
  section .pallet__grid_section .block__title a .icon {
    width: 25px;
    height: 28px;
  }
}

section .pallet__grid_section .block__title_line {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section .pallet__grid_section .block__info {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section .pallet__grid_section .block__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1199.98px) {
  section .pallet__grid_section .block__info p {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  section .pallet__grid_section .block__info p {
    font-size: 8px;
  }
}

section .menu {
  width: 100%;
  padding: 100px 0px 80px 0px;
}

section .menu .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991.98px) {
  section .menu .nav {
    gap: 10px;
  }
}

@media (max-width: 767.98px) {
  section .menu .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  section .menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  section .menu .nav__column {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  section .menu .nav__column {
    margin-bottom: 10px;
  }
}

section .menu .nav__column:hover .nav__column_title a {
  color: #FFD600;
}

section .menu .nav__column_title {
  margin-bottom: 20px;
}

section .menu .nav__column_title a {
  font-weight: 400;
  font-size: 18px;
  color: #3A3C41;
}

@media (max-width: 479.98px) {
  section .menu .nav__column_list {
    display: none;
  }
}

section .menu .nav__column_list li a {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  color: #3A3C41;
}

section .menu .nav__column_list li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=services.css.map */