@import "_globals";
@import "_container";

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 0px 50px;

    @media (max-width: $md3 + px) {
        padding: 0px 20px;
    }

    .block {
        &__title {
            padding: 100px 0px 50px 0px;
            h1 {
                font-weight: 700;
                font-size: 35px;
                text-transform: uppercase;

                @media (max-width: $md1 + px) {
                    font-weight: 600;
                }
                @media (max-width: $md2 + px) {
                    font-size: 25px;
                }
                @media (max-width: $md3 + px) {
                    font-size: 22px;
                }
                @media (max-width: $md4 + px) {
                    font-size: 20px;
                }
            }
        }
        &__page-nav {
            padding-bottom: 50px;
            ul {
                display: flex;
                align-items: center;
                padding: 10px 0px;
                height: fit-content;

                li {
                    margin-right: 10px;

                    a {
                        font-weight: 400;
                        font-size: 16px;

                        &:hover {
                            color: rgb(212, 212, 212);
                        }

                        @media (max-width: $md2 + px) {
                            font-size: 14px;
                        }
                        @media (max-width: $md3 + px) {
                            font-size: 13px;
                        }
                        @media (max-width: $md4 + px) {
                            font-size: 12px;
                        }
                    }
                    .icon {
                        width: 22px;
                        height: 10px;
                    }
                }
                li:last-child {
                    margin-right: 0;
                }

                .to-left {
                    transform: rotate(180deg);
                }
            }
        }
        &__info {
            p {
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 400;
                line-height: 130%;

                @media (max-width: $md1 + px) {
                    font-size: 18px;
                }
                @media (max-width: $md2 + px) {
                    font-size: 14px;
                }
                @media (max-width: $md3 + px) {
                    font-size: 12px;
                }
                @media (max-width: $md4 + px) {
                    font-size: 10px;
                }
            }
        }

        .menu {
            width: 100%;
            padding: 100px 0px 80px 0px;

            .nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 20px;

                @media (max-width: $md2 + px) {
                    gap: 10px;
                }
                @media (max-width: $md3 + px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (max-width: $md4 + px) {
                    display: flex;
                    flex-direction: column;
                }

                &__column {

                    @media (max-width: $md3 + px) {
                        margin-bottom: 30px;
                    }
                    @media (max-width: $md4 + px) {
                        margin-bottom: 10px;
                    }

                    &:hover {
                       .nav__column_title {
                            a {
                                color: #FFD600;
                            }
                        }
                    }

                    &_title {
                        margin-bottom: 20px;

                        a {
                            font-weight: 400;
                            font-size: 18px;
                            color: #3A3C41;
                        }
                    }
                    &_list {
                        @media (max-width: $md4 + px) {
                            display: none;
                        }
                        li {
                            a {
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 200%;
                                color: #3A3C41;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}